/* body {
    background-image: url('your_background_image_url_here');
    background-size: cover;
    background-repeat: no-repeat;
} */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #f8f9fa;
    overflow: auto;
    width: 25%; /*Adjust this as needed*/
    height: 100%;
}

.sidebar img {
    width: 100%; /* Makes the image fill the width of the sidebar */
    border-radius: 50%; /* Optional: makes the photo circular */
}
.sidebar-text {
    margin-top: 30px;
}

.social-links {
    margin-top: 20px; /* or any space you want to add */
 }
 
 .social-links a {
    color: #6c757d; /* or any color you prefer */
 }
 
 .social-links a:hover {
    color: #000; /* or any color you prefer for the hover state */
 }
 

.main-content {
    margin-left: 26%; /* pushes the main content away from the sidebar */
    width: 74%; /* sets the width of the main content to fill the remaining space */
    padding: 0px;
}
  
.banner-container {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 35%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em; /* Adjust font size as necessary */
    color: #A89F91; /* A soft brown/beige color, adjust as necessary */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Optional: Adds a shadow to make text more legible */
}
  
.banner img {
    width: 100%; /* Makes the banner image fill the width */
    margin-left: 3px; /* Ensures no margin is applied */
    padding-left: 0; /* Ensures no padding is applied */
}


.post {
    margin-top: 40px; /* Adds some space between posts */
    margin-bottom: 30px; /* Adds some space between posts */
    padding: 2%;
}

.video-iframe {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio for 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Adjustments for medium screens */
@media (max-width: 550px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 2.0em; 
    }
    h2 {
        font-size: 1.8em; 
    }
    .sidebar {
        padding: 8px;
    }
}

/* Adjustments for smaller screens */
@media (max-width: 430px) {
    body {
        font-size: 0.8em;
    }

    h1 {
        font-size: 1.4em; 
    }
    h2 {
        font-size: 1.20em; 
    }
    .sidebar {
        padding: 7px;
    }
}
